h1,h2{
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
}


h2{
    margin-bottom: 20px;
}
.alma{
    margin-left: 170px;
}
.ul1{
    font-weight: bold;
}
nav{
    background-color: yellow;
}
header{
    height: 100px;
    background-color: yellow;
    border-radius: 10px;
    margin-bottom: 30px;
}
footer{
    height: 50px;
    background-color: yellow;
}
p{
    text-align: justify;
}
.alairas{
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

.logo{
    height: 80px;
}

.kepek{
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}